@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>I do not have a privacy policy. What I do have after some wrangling, is a version of the coding 
    challenge issued to me by <a href="https://degreed.com">degreed</a>. There is nothing proprietary 
    about what I have done. This whole exercise has been very educational. The whole fucntion of 
    this little site is to display some dad jokes fetched from <a href="https://icanhazdadjoke.com">
    icanhazdadjoke.com</a>. All the jokes I have discovered have been clean and many of them have been
    pretty funny! A mult-word search does funny things, but it is the same kind of funny you get when 
    you go to <a href="https://icanhazdadjoke.com">icanhazdadjoke.com</a> and do the search.</p>
    <p>-Paul Power</p>
